h2{
    color:rgb(0, 255, 64);
}

body{
    background-color: #c7c4d4;
    color: rgb(224, 8, 8);
    font-family: Roboto;
    text-align: center;
}

header{
    border-bottom: 1px solid rgb(3, 110, 35);
}

footer{
    border-top: 1px solid rgb(33, 36, 218);
}

#nome-usuário{
    font-weight: bold;
}

.texto-inglês{
    font-style: italic;
}